* {
  /* seletor for each elements */
}

:root {
  /* find the root element (<html>) */
  /* set the base styling for web page */
  /* here you should set the css variables */
  font-size: 20px;
  font-family: sans-serif;
  --base-color: #ff0000;
}

.nav-list {
  margin-top: 40px;
}

.list-item {
  display: inline-block;
}

.link {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  background-color: dodgerblue;
  color: white;
  border: 3px solid transparent;
  line-height: 1;
  font-size: inherit;
}

.link:hover:not(button),
.link:focus {
  background-color: lightblue;
}

.link:focus {
  outline: none;
}