.container {
  /* min-height: 100vh; */
  /* max-width: 80vw;
  margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  max-width: 300px;
  padding: 20px;
  border: 2px solid black;
  background-color: blueviolet;
  color: white;
}