@import url(./reset.css);
@import url(./common.css);
@import url(./components/header.css);
@import url(./components/about.css);

body {
  background-color: #ffff;
}

.about {
  max-width: 80%;
  margin: 10px auto;
  padding: 0 30%;
}

.about h2, 
.about p {
  text-align: center;
}

@media (min-width: 360px) {
  
}

@media (min-width: 576px) { 
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
} 

@media (min-width: 1200px) {
  
}