body {
  margin: 0;
  height: 200vh;
}

::selection {
  background-color: greenyellow;
}

p::first-letter {
  color: red;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}

p::first-line {
  font-weight: 700;
}

.article-heading {
  margin: 50px auto;
  position: relative;
  width: fit-content;
}

.article-heading::before,
.article-heading::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
}

.article-heading::before {
  top: 20px;
  right: 100%;
}

.article-heading::after {
  bottom: 20px;
  left: 100%;
}

.header {
  border-bottom: 2px solid black;
  position: sticky;
  z-index: 1000000;
  top: 0;
  background-color: darkcyan;
}

.list {
  font-size: 0;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

.list-item {
  font-size: medium;
  list-style: none;
  display: inline-block;
  position: relative;
  
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear;
}

.list-item-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;

  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: linear;
}

.list-item:hover {
  background-color: rgb(100, 194, 162);
}

.list-item-link:hover {
  color: rgb(74, 138, 116);
}

.list-item::before {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: black;

  position: absolute;
  bottom: 0;

  transition: width 0.3s ease-in;
}

.list-item:hover::before {
  width: 100%;
}